@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao System Of A Rh</h1>
    </div>
</div>

<div class="container p-5 my-5">
    <div class="span4"></div>
    <div class="span4">
        <form action="/" class="was-validated" id="postec">
            <div class="form-group">
                <label for="nome">Tecnologia:</label>
                <input type="text" class="form-control" id="nome" placeholder="Insira a tecnologia" name="nome" required>  
                <div class="valid-feedback">ok.</div>
                <div class="invalid-feedback">Por favor, informe uma tecnologia</div>
            </div>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">enviar</button>
        </form>
    </div>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    Nova tecnologia Adiconada
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
                </div>

            </div>
        </div>
    </div>

    <div class="span4"></div>
</div>

<div class="container p-5 my-5 ">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Vagas">Continuar</a>
        </div>
    </div>
</div>





