@{
    ViewData["Title"] = "Pesos";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Balanceamento</h1>
    </div>
</div>

<div class="container p-5 my-5">

    <form action="/" class="was-validated" id="PutPontVaga">
        <div class="form-group">
            <label for="sel1">Selecione o a vaga:</label>
             <select class="form-control" id="Vaga-dropdown" name="vagaid">
             </select>
        </div>
        <div class="form-group">
            <label for="sel1">Selecione a tecnologia:</label>
             <select class="form-control" id="dropdown_tecnologia" name="tecid">
             </select>
        </div>
        <div class="form-group">
            <label for="nome">Peso:</label>
            <input type="text" class="form-control" id="Pontos" placeholder="Insira o peso" name="Pontos" required>
            <div class="valid-feedback">ok.</div>
            <div class="invalid-feedback">Por favor, informe uma peso</div>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Ranking">Obter Ranking</a>
</div>





