@{
    ViewData["Title"] = "Pesos";
}

<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Balanceamento</h1>
    </div>
</div>

<div class="container p-5 my-5">
    <div class="DropDowns">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="Vaga-dropdown">
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="dropdown_tecnologia">
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-5 my-5">
    <div class ="span4"></div>
    <div class="span4">
        <form form action="/" class="was-validated" id="postpeso">
            <div class="form-group">
                <label for="peso">Pesp:</label>
                <input type="text" class="form-control" id="nome" placeholder="Insira o peso" name="peso" required>
                <div class="valid-feedback">ok.</div>
                <div class="invalid-feedback">Por favor, adicione um peso</div>
            </div>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Adicionar</button>
        </form>
    </div>
    <div class="span4"></div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                Candidato adicionado
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 my-5 ">
        <div class="col">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Ranking">Obter Ranking</a>
        </div>
    </div>
</div>





