@{
    ViewData["Title"] = "Ranking";
}
<div class="container-fluid">
    <h1>Ranking</h1>
</div>

<div class="container p-5 my-5">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Row 1 Data 1</td>
                <td>Row 1 Data 2</td>
            </tr>
            <tr>
                <td>Row 2 Data 1</td>
                <td>Row 2 Data 2</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="container p-5 my-5 ">
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Index">Começar de novo</a>
        </div>
    </div>
</div>



