@using Layer.Architecture.Domain.Models
@model IEnumerable<Relatorio> 

@{
    ViewData["Title"] = "Ranking";
}
<div class="container-fluid">
    <h1>Ranking</h1>
</div>

<!-- Exibicao do relatorio de candidatos e pontuação  -->
<div class="container p-5 my-5">
    <table id="table_id" class="display">
        <thead>
            <tr>
                <th>Vaga</th>
                <th>Pontos</th>
               <th>Entrevistado</th>
            </tr>
        </thead>
            @foreach (Relatorio relatorio in Model)
            {
                <tbody>
                <tr>
                    <td>@relatorio.Vaga</td>
                    <td>@relatorio.Pontos</td>
                    <td>@relatorio.Entrevistado</td>
                </tr>
            </tbody>
            }
    </table>
</div>

<div class="container p-5 my-5 ">
    <div class="row">
        <div class="col">
            <a class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Index">Começar de novo</a>
        </div>
    </div>
</div>



