@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Bem-Vindo ao System Of A Rh</h1>
    </div>
</div>

<div class="container p-5 my-5">
    <div class="DropDowns">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"id="Candidato-dropdown">
                       
                    </select> 
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"id="Empresa-dropdown">
                        
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <select type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="Vaga-dropdown">
                      
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container p-5 my-5 ">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Entrevista">Continuar</a>
        </div>
    </div>
</div>





