@{
    ViewData["Title"] = "Vaga";
}
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4">Cadastro de Vagas - Tecnologias</h1>
    </div>
</div>

<div class="container p-5 my-5">
    <div class="span4"></div>
    <div class="span4">
        <form form action="/" class="was-validated" id="postRelTecVaga">
            <div class="form-group">
                <label for="sel1">Selecione o a vaga:</label>
                <select class="form-control" id="Vaga-dropdown" name="vagaid">
                </select>
                <div />
            <div class="form-group">
                <h6>Selecione as tecologias exigidas</h6>
                <div class="form-check" id="checkbox_tecnologias">
            </div>
            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Enviar</button>
        </form>
    </div>
    <div class="span4"></div>
</div>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                Nova vaga adicionada
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>

        </div>
    </div>
</div>

<div class="container p-5 my-5 ">
    <div class="row">
        <div class="col">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Candidatos">Continuar</a>
        </div>
    </div>
</div>







